<!DOCTYPE html><!-- templates/account/base -->
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="icon" href="/static/img/icon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href='/static/account.css'>
    <script type="text/javascript" src="/static/libs/utils.js"></script>
    <script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-273063-2', 'elligue.com'); ga('send', 'pageview');

    </script>
  </head>
  <body class="{% block body_classes %}{% endblock %}">
    <a class="sitename logo" href="/">El Ligue</a>
    {% block body %}
    <div class="inset">
      {% block content %}{% endblock %}
    </div>
    {% endblock %}
    {% block extra_body %}{% endblock %}
    <footer>
      <section>
        <a href="{% url 'dtrseo_users_alphabetically' %}">Browse</a> |
        <a href="{% url 'dtrseo_users_f_m' %}">Mujeres buscando hombres</a> |
        <a href="{% url 'dtrseo_users_m_f' %}">Hombres buscando mujeres</a> |
        <a href="{% url 'dtrseo_users_f_pics' %}">Fotos de mujeres</a> |
        <a href="{% url 'dtrseo_users_m_pics' %}">Fotos de hombres</a> |
        <a href="{% url 'dtrseo_country_list' %}">Encontrar amigos</a> |
        <a href="/citymxmdf/mexico-d-f.html">Amigos en Mexico DF</a>
      </section>
      <section>
        <span>{% for a in 'abcdefghijklmnopqrstuvwxyz_'|make_list %}<a href="/browse.php?begin={{ a }}">{{ a|upper }}</a> &middot; {% endfor %}</span>
      </section>
      <section>
        &copy;2015 | 
        <a rel="nofollow" href="http://C14L.com/impressum.html">Imprint</a> |
        <a rel="nofollow" href="/static/tos.es.html">Terms of Service</a> |
        <a rel="nofollow" href="/static/privacy.es.html">Data Privacy</a>
      </section>
    </footer>
  </body>

    <!--build:js app/libs.js-->
    <script src="/static/app/tr-choices-es.js"></script>
    <script src="/static/app/tr-language-es.js"></script>

    <script src="/static/libs/utils.js"></script>
    <script src="/static/libs/markdownjs.min.js"></script>
    <script src="/static/libs/textfilter.js"></script>
    <script src="/static/libs/picviewer.js"></script>

    <script src="/static/node_modules/angular/angular.min.js"></script>
    <script src="/static/node_modules/angular-route/angular-route.min.js"></script>
    <script src="/static/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="/static/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/node_modules/angular-upload/angular-upload.min.js"></script>
    <script src="/static/node_modules/angular-bindonce/bindonce.min.js"></script>

    <script src="/static/app/dtr-app.js"></script>
    <script src="/static/app/dtr-controllers.js"></script>
    <script src="/static/app/dtr-directives.js"></script>
    <script src="/static/app/dtr-filters.js"></script>
    <script src="/static/app/dtr-services.js"></script>

    <script src="/static/app/search/search.controller.js"></script>
    <script src="/static/app/search/search.service.js"></script>

    <script src="/static/app/talk/talk.controller.js"></script>
    <script src="/static/app/talk/talk.service.js"></script>

    <script src="/static/app/inbox/inbox.controller.js"></script>
    <script src="/static/app/inbox/inbox.service.js"></script>

    <script src="/static/app/lists/lists.controller.js"></script>
    <script src="/static/app/lists/lists.service.js"></script>

    <!--endbuild-->

</html>