<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href='/static/account.css'>
    <script type="text/javascript" src="/static/utils.js"></script>
    <script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-273063-2', 'elligue.com'); ga('send', 'pageview');

    </script>
  </head>
  <body class="{% block body_classes %}{% endblock %}">

    <form onsubmit="set_cookie('lg','en')" class="set-language" action="/i18n/setlang/" method="post">
      {% csrf_token %}
      <input type="hidden" name="language" value="en"><input type="submit" value="English">
    </form>
    <form onsubmit="set_cookie('lg','es')" class="set-language" action="/i18n/setlang/" method="post">
      {% csrf_token %}
      <input type="hidden" name="language" value="es"><input type="submit" value="Espanol">
    </form>
    
    <div class="sitename">El Ligue</div>

    {% block body %}

<!--
      {% if messages %}
          <div>
              <strong>Messages:</strong>
              <ul>
                  {% for message in messages %}
                      <li>{{message}}</li>
                  {% endfor %}
              </ul>
          </div>
      {% endif %}
-->
    <div class="inset">
      {% block content %}{% endblock %}
    </div>
    {% endblock %}
  
    {% block extra_body %}{% endblock %}
    <footer>
      <section>
        <a href="{% url 'dtrseo_users_alphabetically' %}">Browse</a> |
        <a href="{% url 'dtrseo_users_f_m' %}">Mujeres buscando hombres</a> |
        <a href="{% url 'dtrseo_users_m_f' %}">Hombres buscando mujeres</a> |
        <a href="{% url 'dtrseo_users_f_pics' %}">Fotos de mujeres</a> |
        <a href="{% url 'dtrseo_users_m_pics' %}">Fotos de hombres</a> |
        <a href="{% url 'dtrseo_country_list' %}">Encontrar amigos</a> |
        <a href="/citymxmdf/mexico-d-f.html">Amigos en Mexico DF</a>
      </section>
      <section>
        <span>{% for a in 'abcdefghijklmnopqrstuvwxyz_'|make_list %}<a href="/browse.php?begin={{ a }}">{{ a|upper }}</a> &middot; {% endfor %}</span>
      </section>
      <section>
        &copy;2015 | 
        <a rel="nofollow" href="http://C14L.com/impressum.html">Imprint</a> |
        <a rel="nofollow" href="/static/tos.es.html">Terms of Service</a> |
        <a rel="nofollow" href="/static/privacy.es.html">Data Privacy</a>
      </section>
    </footer>
  </body>
  <!-- pre-load javascript libs -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
  <!-- https://github.com/leon/angular-upload -->
  <script type="text/javascript" src="/static/libs/angular-upload.min.js"></script>
  <!-- https://github.com/Pasvaz/bindonce -->
  <script src="/static/libs/angular-bindonce.min.js"></script>
  <script src="/static/libs/markdownjs.min.js"></script>
  <script src="/static/libs/picviewer.js"></script>
  
  <script src="/static/textfilter.js"></script>
  <!-- "choice" translations -->
  <script> document.write('<script type="text/javascript" src="/static/tr-choices-' + (get_cookie('lg')||'en') + '.js"></scri' + 'pt>'); </script>
  <!-- UI translations -->
  <script> document.write('<script type="text/javascript" src="/static/tr-language-' + (get_cookie('lg')||'en') + '.js"></scri' + 'pt>'); </script>
  <!-- App -->
  <!-- This would start the app XXXscript src="/static/dtr-app.js">XXXscript> -->
  <script src="/static/dtr-services.js"></script>
  <script src="/static/dtr-controllers.js"></script>
  <script src="/static/dtr-filters.js"></script>
  <script src="/static/dtr-directives.js"></script>
</html>