{% extends "account/base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block body_classes %}login_body{% endblock %}

{% block content %}

<!-- 
<a class="fb" href="/accounts/facebook/login/"></a>
{% include "socialaccount/snippets/login_extra.html" %}
<div class="header">{% trans "Or sign in directly" %}</div>
-->

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <input id="id_login" class="login-input" maxlength="30" name="login" placeholder="Username" type="text" />{{ form.login.errors }}<br>
  <input id="id_password"  class="login-input" name="password" placeholder="Password" type="password" />{{ form.password.errors }}<br>

  <div class="remember-forgot-section">
      <input id="id_remember" name="remember" type="checkbox" />
      <label for="id_remember">{% trans "Remember Me" %}</label>
  </div>

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="btn" type="submit">{% trans "Sign In" %}</button>
  <a class="forgot" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

<div class="footnote">
  <!-- {% blocktrans %}Don't have an account? Login with Facebook above or <a href="/accounts/signup/">Sign Up</a>{% endblocktrans %} -->
  ¿No tienes cuenta todavía? <a href="/accounts/signup/">Regístrate</a>
</div>

{% endblock %}
