{% load staticfiles %}
{% load settings_value %}
<!DOCTYPE html>
<html lang="{% settings_value 'LANGUAGE' %}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}El Ligue{% endblock %}</title>
    <link href="/static/nav.css" rel="stylesheet" type="text/css">
    <link href="/static/picviewer.css" rel="stylesheet" type="text/css">
    <script>

window.MEDIA_URL = "{% settings_value 'MEDIA_URL' %}";
window.STATIC_URL = "{% settings_value 'STATIC_URL' %}";

{% if user.is_authenticated %}
window.authuser = { id:3902, username:"csx", pic:106, pics:[106, 37462, 37464, 37466, 37558], age:25, gender:1, country:3996063, city:3521081, crc:"Puebla, Puebla, Mexico" };

{% else %}
window.authuser = false;
{% endif %}

window.gender_names = {"1":'man who likes women', "2":'man who likes men', "3":'man who likes transgender', "4":'woman who likes men', "5":'woman who likes women', "6":'woman who likes transgender', "7":'transgender who likes men', "8":'transgender who likes women', "9":'transgender who likes transgender'};

window.gender_plurals = {"1":'men who like women', "2":'men who like men', "3":'men who like transgenders', "4":'women who like men', "5":'women who like women', "6":'women who like transgenders', "7":'transgenders who like men', "8":'transgenders who like women', "9":'transgenders who like transgenders'};

window.gender_shorts = {"1":'man', "2":'man', "3":'man', "4":'woman', "5":'woman', "6":'woman', "7":'transgender', "8":'transgender', "9":'transgender'};

window.gender_letters = {"1":'m', "2":'m', "3":'m', "4":'f', "5":'f', "6":'f', "7":'t', "8":'t', "9":'t'};

window.gender_symbols = {"1":'♂', "2":'♂', "3":'♂', "4":'♀', "5":'♀', "6":'♀', "7":'⚥', "8":'⚥', "9":'⚥'};

    </script>
    <script type="text/javascript" src="/static/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/nav.js"></script>
    <script type="text/javascript" src="/static/picviewer.js"></script>
    <script> // ### INIT FUNCTIONS ###

$(document).ready(function(){
    setInterval(update_time_deltas, 20000); // Every 20 secs.
    setInterval(check_indicators, 40000); // Every 40 secs.
});

    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="main" id="nav">
        <a href="/" class="home">El Ligue</a>
        <a href="/search/" class="nav-link search">search</a>
        <a href="/talk/" class="nav-link talk">talk</a>
        <a href="/inbox/" class="nav-link inbox">inbox</a>
        <a href="/lists/#matches" class="nav-link matches">matches</a>
        <!-- <a href="/lists/#matches" class="nav-link lists">lists</a> -->
        <a href="/profile/" class="nav-link profile">settings</a>
        <a href="/messages/" class="nav-indicator unread-messages hidden"></a>
        <a href="/lists/#likedyou" class="nav-indicator new-matches hidden"></a>
    </nav>
    <main class="main wrapper" id="main">{% block main %}{% endblock %}</main>
    <footer>© 2014 Christian Steimel -- All rights reserved.</footer>

    <div id="pic-viewer">
      <div id="pic-viewer-data">
        <div id="pic-viewer-picslist"></div>
      </div>
      <div id="pic-viewer-close" class="close"></div>
      <div id="pic-viewer-pic">
        <div class="img"></div>
        <div class="prev">&lt;</div>
        <div class="next">&gt;</div>
      </div>
    </div>

  </body>
</html>
