{% extends "dtrprofile/base.html" %}

{% block title %}Profile{% endblock %}

{% block head %}

<link href="/static/profile.css" type="text/css" rel="stylesheet">
<script src="/static/profile.js" type="text/javascript"></script>

{% endblock %}

{% block main %}

<div class="profilelinks list" id="profilelinks"></div>

<div class="profile main">

    <div class="profile header">
      <div class="like-btn is-like is-match"></div>
      <div class="username"><a data-display="username" class="username" href="#">Loading...</a></div>
      <div class="asl">
        <span data-display="age" class="age">99</span> / 
        <span data-display="gender" class="gender">?</span> / 
        <span data-display="crc" class="crc">Loading...</span>
      </div>
    </div>

    <div class="profile picdata">
      <a href="#" class="userpic large" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
      <a href="#" class="userpic small" style="background-image:url(/static/placeholder.jpg)"></a>
    </div>

    <div class="profile messages">
      <form class="form">
        <textarea placeholder="write a private message..."></textarea>
        <input type="submit" value="send">
      </form>
      <div class="list" id="messages-list"></div>
    </div>

    <div class="profile details">
      <div class="data-list">
        <dl><dt>Age</dt><dd><span data-display="age"></span></dd></dl>
        <dl><dt>Gender</dt><dd>Female</dd></dl>
        <dl><dt>Looking for</dt><dd>Man</dd></dl>
        <dl><dt>Min. age</dt><dd>18</dd></dl>
        <dl><dt>Max. age</dt><dd>Any</dd></dl>
        <dl><dt>Country</dt><dd>Thailand</dd></dl>
        <dl><dt>City</dt><dd>Chon Buri</dd></dl>
        <dl><dt>Last viewed you</dt><dd>1 day ago</dd></dl>
        <dl><dt>Last Active</dt><dd>2 hour ago</dd></dl>
        <dl><dt>Height</dt><dd>153cm / 5 ft 0 in</dd></dl>
        <dl><dt>Weight</dt><dd>55kg / 121lbs</dd></dl>
        <dl><dt>Education</dt><dd>Bachelors Degree</dd></dl>
        <dl><dt>Income</dt><dd>No answer</dd></dl>
        <dl><dt>Occupation</dt><dd>No answer</dd></dl>
        <dl><dt>Religion</dt><dd>FSM</dd></dl>
        <dl><dt>Ethnicity</dt><dd>Asian</dd></dl>
        <dl><dt>Has children</dt><dd>No children</dd></dl>
      </div><!--/.data-list-->
    </div><!--/.details-->
  </div><!--/main-->

</div><!--/.main-->

{% endblock %}