{% extends "dtrprofile/base.html" %}

{% block title %}Search{% endblock %}

{% block head %}

<script src="/static/search.js" type="text/javascript"></script>
<link href="/static/search.css" type="text/css" rel="stylesheet">

{% endblock %}

{% block main %}

<div class="search content-wrapper">

  <div class="search-opts">
    <form class="search-form" id="search-form" method="get" action="">
      <input type="submit" value="">
      <div class="gender"><select name="gender" value=""></select></div>
      <div class="age">
        age <span class="minage"><input name="minage" type="number" min="18" max="80" value="18"></span>
        to <span class="maxage"><input name="maxage" type="number" min="19" max="99" value="99"></span>
      </div>
      <div class="city">select a city</div>
      <div class="city-opts" style="display:none">
        <div><select name="country" size="1"></select></div>
        <div><select name="city" size="1"></select></div>
        <div><select name="dist" size="1"><option value="5">5 km</option><option value="15">15 km</option><option value="50">50 km</option><option value="200">200 km</option><option value="500">500 km</option></select></div>
      </div>
    </form>
  </div>

  <div class="search-results list" id="results">Loading...</div>

</div>

{% endblock %}